<link rel="stylesheet" href="/css/account-management.css">

<div class="container-fluid px-4">
    <h4 class="mt-4">Quản lý người dùng</h4>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Danh sách người dùng
        </div>
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>Ảnh đại diện</th>
                        <th>Email</th>
                        <th>Username</th>
                        <th>Họ và tên</th>
                        <th>Số điện thoại</th>
                        <th>Địa chỉ</th>
                        <th>Được cấp quyền</th>
                        <th>Trạng thái</th>
                        <th>Thao tác</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Ảnh đại diện</th>
                        <th>Email</th>
                        <th>Username</th>
                        <th>Họ và tên</th>
                        <th>Số điện thoại</th>
                        <th>Địa chỉ</th>
                        <th>Được cấp quyền</th>
                        <th>Trạng thái</th>
                        <th>Thao tác</th>
                    </tr>
                </tfoot>
                <tbody>
                    {{#each accounts}}
                        <tr>
                            <td><img src="/uploads/avatars/{{profilePicture}}" class="old avatar-small"></td>
                            <td>{{email}}</td>
                            <td>{{username}}</td>
                            <td>{{fullname}}</td>
                            <td>{{phoneNumber}}</td>
                            <td>{{address}}</td>
                            <td>{{#isActivateAccount activateStatus}}{{/isActivateAccount}}</td>
                            <td>{{#getLockedStatus username lockedStatus}}{{/getLockedStatus}}</td>
                            <td class="button-cell" style="text-align: center; vertical-align: middle;">
                                <div style="display: flex; justify-content: center; align-items: center; height: 100%;">
                                    <button class="btn btn-primary" onclick="sendEmail('{{email}}')"><i class="fa-solid fa-envelope-circle-check"></i></button> 
                                    <a href="/admin:profileid:{{username}}" class="btn btn-secondary" style="text-decoration: none; color: white;"><i class="fa-solid fa-circle-info"></i></a>
                                    <button class="btn btn-danger deleteAccountModalToggle" type="button" data-bs-toggle="modal" data-bs-target="#deleteAccountModal" data-account-id="{{username}}"><i class="fa fa-trash"></i></button>
                                </div>
                            </td>
                        </tr>
                    {{/each}} 
                </tbody>
            </table>
            <div id="toast-container" class="toast-container"></div>
        </div>
    </div>
</div>

<!-- Modal Xác Nhận Xóa Người Dùng -->
<div class="modal fade" id="deleteAccountModal" tabindex="-1" aria-labelledby="deleteAccountModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form action="/delete-account" method="post">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteAccountModalLabel">Xác Nhận Xóa Người Dùng</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Bạn có chắc chắn muốn xóa người dùng này không?
                    <div class="form-group" hidden>
                        <label for="username">Id người dùng:</label>
                        <input type="text" class="form-control" id="username" name="username" value="{{username}}">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                    <button type="submit" class="btn btn-danger">Xóa</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="/js/account-management.js"></script>
