<link rel="stylesheet" href="/css/health.css">

{{#if messages.error}}
    <div class="alert alert-danger">{{messages.error}}</div>
{{/if}}

{{#if messages.success}}
    <div class="alert alert-success">{{messages.success}}</div>
{{/if}}

<div class="health-container">
    <div class="content-container">
        <div class="table-container">
            <div class="table-header">
            <h2 class="mr-5">Danh Sách Thú Cưng</h2>
                <div class="add-button-container">
                    <button class="add-button">
                        <img src="img/add.png" alt="Add Icon" />
                        Thêm thú cưng
                    </button>
                </div>
                <form action="/health" method="get" class="form-inline">
                    <div class="form-group mr-2">
                        <select name="type" class="form-control">
                            <option value="">Tất cả</option>
                            <option value="Chó" {{#ifEquals type "Chó"}}selected{{/ifEquals}}>Chó</option>
                            <option value="Mèo" {{#ifEquals type "Mèo"}}selected{{/ifEquals}}>Mèo</option>
                        </select>
                    </div>
                    <div class="form-group mr-2">
                        <input type="text" name="search" class="form-control" placeholder="Tên thú cưng..." value="{{search}}">
                    </div>
                    <button type="submit" class="btn btn-warning "><i class="fas fa-search"></i></button>
                </form>
            </div>
            <div class="table">
                <div class="container">
                    <div class="row">
                        {{#each pets}}
                            <div class="col-md-4 mb-4">
                            <a href="/petDetail/{{this.petId}}">
                                <div class="card">
                                    <div class="position-relative">
                                        <button class="delete-button btn btn-danger position-absolute top-0 end-0" aria-label="Delete">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                        <img src="/uploads/pets/{{this.username}}/{{this.petPicture}}" class="card-img-top" alt="Pet">
                                    </div>
                                    <div class="card-body" hidden>
                                        <h5 class="card-title">{{this.petId}}</h5>
                                    </div>
                                    <div class="card-body d-flex justify-content-between"> <!-- Thêm class 'd-flex justify-content-between' -->
                                        <h5 class="card-title">{{this.name}}</h5>
                                        <a href="/profile-pet:{{this.petId}}" class="btn btn-secondary">
                                            <i class="fa fa-info-circle"></i>
                                        </a>
                                    </div>
                                </div>
                            </a>
                            </div>
                        {{/each}}
                    </div>
                </div>
            </div>
            <div>
                {{#if totalPages}}
                    <ul class="pagination justify-content-center">
                        {{#if firstPage}}
                            <li class="page-item"><a class="page-link page-link-yellow" href="/health?page={{firstPage}}&limit=3&type={{type}}&search={{search}}">Trang đầu</a></li>
                        {{/if}}
                        {{#if previousPage}}
                            <li class="page-item"><a class="page-link page-link-yellow" href="/health?page={{previousPage}}&limit=3&type={{type}}&search={{search}}">Trước</a></li>
                        {{/if}}
                        {{#each pages}}
                            <li class="page-item {{#ifEquals ../currentPage this}}active{{/ifEquals}}"><a class="page-link page-link-yellow" href="/health?page={{this}}&limit=3&type={{../type}}&search={{../search}}">{{this}}</a></li>
                        {{/each}}
                        {{#if nextPage}}
                            <li class="page-item"><a class="page-link page-link-yellow" href="/health?page={{nextPage}}&limit=3&type={{type}}&search={{search}}">Tiếp theo</a></li>
                        {{/if}}
                        {{#if finalPage}}
                            <li class="page-item"><a class="page-link page-link-yellow" href="/health?page={{finalPage}}&limit=3&type={{type}}&search={{search}}">Trang cuối</a></li>
                        {{/if}}
                    </ul>
                {{/if}}
            </div>
        </div>
    </div>
</div>

<div id="healthModal" class="modal">
    <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
            <h4 class="modal-title w-100 text-center">THÊM THÚ CƯNG</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
            <form action="/health" method="post" enctype="multipart/form-data">
                <div class="row">
                    <div class="form-group col-md-6 col-12" hidden>
                        <label for="petId">Id thú cưng:</label>
                        <input type="text" class="form-control" id="petId" name="petId" value="{{petId}}">
                    </div>

                    <div class="form-group col-md-6 col-12">
                        <label for="petName">Tên thú cưng:</label>
                        <input type="text" class="form-control" placeholder="VD: Lulu" id="name" name="name">
                    </div>

                    <div class="form-group col-md-6 col-12">
                        <label for="petType">Loài:</label>
                        <select name="type" class="custom-select" id="type">
                            <option value="Chó">Chó</option>
                            <option value="Mèo">Mèo</option>
                        </select>        
                    </div>

                    <div class="form-group col-md-6 col-12">
                        <label for="petAge">Tuổi:</label>
                        <input type="number" class="form-control" id="age" name="age" min="0" placeholder="VD: 3">
                    </div>

                    <div class="form-group col-md-6 col-12">
                        <label>Giới tính:</label>
                        <div class="d-flex">
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="male" name="gender" class="custom-control-input" value="Đực">
                                <label class="custom-control-label" for="male">Đực</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="female" name="gender" class="custom-control-input" value="Cái">
                                <label class="custom-control-label" for="female">Cái</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-md-6 col-12">
                        <label for="species">Chủng loại:</label>
                        <input type="text" class="form-control" id="species" name="species" placeholder="VD: Chó Bergie">
                    </div>

                    <div class="form-group col-md-6 col-12">
                        <label for="color">Màu lông:</label>
                        <input type="text" class="form-control" id="color" name="color" placeholder="VD: Vàng">
                    </div>

                    <div class="form-group col-md-6 col-12">
                        <label for="special">Đặc điểm nhận dạng đặc biệt:</label>
                        <input type="text" class="form-control" id="special" name="special" placeholder="VD: Mặt có mụt ruồi màu đen bên trái dưới mũi">
                    </div>

                    <!-- Hình ảnh thú cưng từ trường Chọn ảnh -->
                    <div class="form-group col-md-6 col-12">
                        <label for="petPicture">Hình ảnh thú cưng:</label>
                        <input type="file" class="form-control" id="petPicture" name="petPicture">
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <input type="submit" class="btn btn-outline-success" value="Thêm Thú Cưng">
                </div>
            </form>
        </div>
    </div>
</div>

<div id="deleteModal" class="modal">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content modal-lg">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title w-100 text-center justify-content-center align-items-center">XÓA THÚ CƯNG</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <form action="/remove-pet" method="post">
                    <input type="hidden" name="petId" id="modalPetId" value="">
                    <div class="form-group d-flex justify-content-center align-items-center">
                        Bạn có chắc chắn xóa thú cưng này không?
                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer d-flex justify-content-center align-items-center">
                        <input type="submit" class="btn btn-outline-danger" value="Xóa Thú Cưng">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="/js/health.js"></script>
<div class="background-image-container">
    <img src="/img/background.png" alt="Image" class="background-image">
</div>