<link rel="stylesheet" href="/css/home-admin.css">

<div class="container-fluid px-4">
    <h4 class="mt-4">Dashboard</h4>
    <div class="row">
        <div class="col-xl-3 col-md-6">
            <div class="card bg-primary text-white mb-4">
                <div class="card-body">Người Dùng</div>
                <div class="number-data">{{accountCount}}</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="/account-management">Xem Chi Tiết</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-warning text-white mb-4">
                <div class="card-body">Thú Cưng</div>
                <div class="number-data">{{petCount}}</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="/pet-management">Xem Chi Tiết</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-success text-white mb-4">
                <div class="card-body">Nhắc Nhở</div>
                <div class="number-data">{{notificationCount}}</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="/notification-management">Xem Chi Tiết</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-danger text-white mb-4">
                <div class="card-body">Lịch Trình Y Tế</div>
                <div class="number-data">{{scheduleCount}}</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="/schedule-management">Xem Chi Tiết</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-6">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-chart-bar me-1"></i>
                    Biểu Đồ Số Lượng Thú Cưng Theo Người Dùng
                </div>
                <div class="card-body"><canvas id="myChart1" width="100%" height="40"></canvas></div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-chart-pie me-1"></i>
                    Biểu Đồ So Sánh Số Lượng Chó, Mèo
                </div>
                <div class="card-body"><canvas id="myChart2" width="100%" height="40"></canvas></div>
            </div>
        </div>
    </div>
</div>
<script>
    var dogCount = {{dogCount}};
    var catCount = {{catCount}};
</script>

<script src="/js/home-admin.js"></script>
