<link rel="stylesheet" href="/css/index.css">
<div class="container mt-5">
    <div class="row text-center">
        <div class="col-md-4 mb-4">
            <img src="/img/health.png" alt="Health Tracking Icon" class="img-fluid mb-2">
            <h3>Theo dõi sức khỏe</h3>
        </div>
        <div class="col-md-4 mb-4">
            <img src="/img/yte.png" alt="Medical Schedule Icon" class="img-fluid mb-2">
            <h3>Quản lý lịch trình y tế</h3>
        </div>
        <div class="col-md-4 mb-4">
            <img src="/img/environment.png" alt="Environment Management Icon" class="img-fluid mb-2">
            <h3>Môi trường sống thú cưng</h3>
        </div>
    </div>
</div>
<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <div class="notification-container p-4 shadow rounded bg-white">
                <div class="notification-header mb-4">
                    <h2 class="text-center">Thông Báo</h2>
                </div>
                <div class="notification-content">
                    <div class="mb-3">
                        <h5>NHẮC NHỞ GẦN ĐÂY:</h5>
                        {{#if latestNotification.length}}
                            <div class="card mb-2">
                                <div class="card-body">
                                    <p class="card-text">Ngày: {{latestNotification.[0].date}}</p>
                                    <p class="card-text">Sự kiện:
                                        {{#each latestNotification}}
                                            {{#if @first}}{{event}}
                                            {{else}}{{#if (gt @index 4)}}{{else}}, {{event}}{{/if}}
                                            {{/if}}
                                        {{/each}}
                                        {{#if (gt latestNotification.length 5)}}...{{/if}}
                                    </p>
                                </div>
                            </div>
                        {{else}}
                            <p>Không có nhắc nhở gần đây.</p>
                        {{/if}}
                    </div>

                    <div class="mb-3">
                        <h5>NHẮC NHỞ SẮP TỚI:</h5>
                        {{#if upcomingNotification.length}}
                            <div class="card mb-2">
                                <div class="card-body">
                                    <p class="card-text">Ngày: {{upcomingNotification.[0].date}}</p>
                                    <p class="card-text">Sự kiện:
                                        {{#each upcomingNotification}}
                                            {{#if @first}}{{event}}
                                            {{else}}{{#if (gt @index 4)}}{{else}}, {{event}}{{/if}}
                                            {{/if}}
                                        {{/each}}
                                        {{#if (gt upcomingNotification.length 5)}}...{{/if}}
                                    </p>
                                </div>
                            </div>
                        {{else}}
                            <p>Không có nhắc nhở sắp tới.</p>
                        {{/if}}
                    </div>
                    <div class="mb-3">
                        <h5>NHẮC NHỞ HÔM NAY:</h5>
                        {{#if todayNotification.length}}
                            <div class="card mb-2">
                                <div class="card-body">
                                    <p class="card-text">Ngày: {{todayNotification.[0].date}}</p>
                                    <p class="card-text">Sự kiện:
                                        {{#each todayNotification}}
                                            {{#if @first}}{{event}}
                                            {{else}}{{#if (gt @index 4)}}{{else}}, {{event}}{{/if}}
                                            {{/if}}
                                        {{/each}}
                                        {{#if (gt todayNotification.length 5)}}...{{/if}}
                                    </p>
                                </div>
                            </div>
                        {{else}}
                            <p>Không có nhắc nhở hôm nay.</p>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container mt-5">
    <div class="background-image-container">
        <img src="/img/background.png" alt="Image" class="background-image">
    </div>
</div>

<script src="/js/index.js"></script>
