<link rel="stylesheet" href="/css/index.css">
<div>
    <!-- Bao bên ngoài cho cả ba section -->
    <div class="services-container">
        <!-- Section Theo dõi sức khỏe -->
        <section id="health-tracking">
            <img src="/img/health.png" alt="Health Tracking Icon" class="service-item">
            <h3>Theo dõi sức khỏe</h3>
        </section>

        <!-- Section Quản lý lịch trình y tế -->
        <section id="medical-schedule">
            <img src="/img/yte.png" alt="Medical Schedule Icon" class="service-item">
            <h3>Quản lý lịch trình y tế</h3>
        </section>

        <!-- Section Môi trường sống thú cưng -->
        <section id="environment-management">
            <img src="/img/environment.png" alt="Environment Management Icon" class="service-item">
            <h3>Môi trường sống thú cưng</h3>
        </section>
    </div>
</div>
<div class="container">
    <div class="content-container">
        <div class="notification-container">
            <div class="notification-header">
                <h2>Thông Báo</h2>
            </div>
            <div class="notification-content">
                <div class="row">
                    <div class="col">
                        <h2>Nhắc nhở gần đây:</h2>
                        {{#if latestNotification}}
                        <div class="card">
                            <div class="card-body">
                                <p class="card-text">Date: {{latestNotification.date}}</p>
                                <p class="card-text">Event: {{latestNotification.event}}</p>
                            </div>
                        </div>
                        {{else}}
                        <p>Không có nhắc nhở gần đây.</p>
                        {{/if}}
                    </div>
                    <div class="col">
                        <h2>Nhắc nhở sắp tới:</h2>
                        {{#if upcomingNotification}}
                        <div class="card">
                            <div class="card-body">
                                <p class="card-text">Date: {{upcomingNotification.date}}</p>
                                <p class="card-text">Event: {{upcomingNotification.event}}</p>
                            </div>
                        </div>
                        {{else}}
                        <p>Không có nhắc nhở sắp tới.</p>
                        {{/if}}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h2>Nhắc nhở hôm nay:</h2>
                        {{#each todayNotification}}
                        <div class="card">
                            <div class="card-body">
                                <p class="card-text">Nhắc nhở {{inc @index}}:</p>
                                <p class="card-text">Ngày: {{date}}</p>
                                <p class="card-text">Sự kiện: {{event}}</p>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img src="/img/mydieu.png" alt="Cat Image" class="cat-image">
</div>

<div class="background-image-container">
    <img src="/img/background.png" alt="Image" class="background-image">
</div>

<script src="/js/index.js"></script>