<link rel="stylesheet" href="/css/medical.css">

{{#if messages.error}}
    <div class="alert alert-danger">{{messages.error}}</div>
{{/if}}

{{#if messages.success}}
    <div class="alert alert-success">{{messages.success}}</div>
{{/if}}

<div class="medical-container">
    <!-- Container cho nút và lịch -->
    <div class="content-container">
        <div class="buttons-container">
            <button id="schedule-button">
                <img src="img/note-icon.png" alt="Note Icon" />
                <div>Ghi lịch trình</div>
            </button>
            <button id="reminder-button">
                <img src="img/alarm-icon.png" alt="Alarm Icon" />
                <div>Tạo nhắc nhở</div>
            </button>
        </div>
        <div class="calendar-container">
            <div class="calendar-header">
                <span class="month-year-header">
                    <!-- Các nút điều hướng tháng trước và tháng sau đã có sẵn -->
                    <button class="prev-month">&lt;</button>
                    <span class="month-year-text">February 2021</span>
                    <button class="next-month">&gt;</button>
                </span>
                <div class="today-button-container">
                    <button class="today-button">Today</button>
                </div>
            </div>
            <div class="calendar-week-day">
                <div>Sun</div>
                <div>Mon</div>
                <div>Tue</div>
                <div>Wed</div>
                <div>Thu</div>
                <div>Fri</div>
                <div>Sat</div>
            </div>
            <div class="calendar-days">

            </div>
        </div>
    </div>

    <!-- Bảng Thông Báo -->
    <div id="notificationBoard" class="notification-board">
        <div class="notification-board-header">
            <span class="notification-board-title">Nhắc nhở ngày <span id="selectedDate" class="notification-board-date"></span></span>
            <span class="notification-board-close">&times;</span>
        </div>
        <div class="notification-board-content">
            <!-- Nội dung thông báo sẽ được thêm vào đây bằng JavaScript -->
        </div>
    </div>
</div>

<div id="notificationDates">
    {{#each notifications}}
        <span class="notification-date">{{this.date}}</span>
    {{/each}}
</div>

<div id="notificationEvents">
    {{#each notifications}}
        <span class="notification-event">{{this.event}}</span>
    {{/each}}
</div>

<!-- Modal Reminder -->
<div id="reminderModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <form id="reminder" action="/reminder" method="post">
            <div class="form-field">
                <label for="date">Nhập ngày:</label>
                <input type="date" class="form-control" id="date" name="date" placeholder="VD: dd/mm/yyyy" value="{{date}}">
            </div>
            <div class="form-field">
                <label for="event">Nhập tên sự kiện:</label>
                <input type="text" class="form-control" id="event" name="event" placeholder="Nhập sự kiện cần nhắc nhở." value="{{event}}">
            </div>
            <div class="form-field">
                <input type="submit" value="Tạo Nhắc Nhở">
            </div>
        </form>
    </div>
</div>

<script src="/js/medical.js"></script>
<div class="background-image-container">
    <img src="/img/background.png" alt="Image" class="background-image">
</div>