<link rel="stylesheet" href="/css/notification-management.css">

<div class="container-fluid px-4">
    <h4 class="mt-4">Quản lý thông báo</h4>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Danh sách thông báo
        </div>
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>ID Thông báo</th>
                        <th>Ngày</th>
                        <th>Sự kiện</th>
                        <th>Username</th>
                        <th>Thao tác</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>ID Thông báo</th>
                        <th>Ngày</th>
                        <th>Sự kiện</th>
                        <th>Username</th>
                        <th>Thao tác</th>
                    </tr>
                </tfoot>
                <tbody>
                    {{#each notifications}}
                        <tr>
                            <td>{{notificationId}}</td>
                            <td>{{date}}</td>
                            <td>{{event}}</td>
                            <td>{{username}}</td>
                            <td class="button-cell">
                                <div style="display: flex;">
                                    <button class="btn btn-primary" onclick="sendEmail('{{email}}')"><i class="fa-solid fa-envelope-circle-check"></i></button> 
                                    <a href="/admin:profileid:{{username}}" class="btn btn-secondary" style="text-decoration: none; color: white;"><i class="fa-solid fa-circle-info"></i></a>
                                    <button class="btn btn-danger deleteNotificationModalToggle" type="button" data-bs-toggle="modal" data-bs-target="#deleteNotificationModal" data-notification-id="{{notificationId}}"><i class="fa fa-trash"></i></button>
                                </div>
                            </td>
                        </tr>
                    {{/each}} 
                </tbody>
            </table>
            <div id="toast-container" class="toast-container"></div>
        </div>
    </div>
</div>

<!-- Modal Xác Nhận Xóa Thông Báo -->
<div class="modal fade" id="deleteNotificationModal" tabindex="-1" aria-labelledby="deleteNotificationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form action="/delete-notification" method="post">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteNotificationModalLabel">Xác Nhận Xóa Thông Báo</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Bạn có chắc chắn muốn xóa thông báo này không?
                    <div class="form-group" hidden>
                        <label for="notificationId">Id nhắc nhở:</label>
                        <input type="text" class="form-control" id="notificationId" name="notificationId" value="{{notificationId}}">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                    <button type="submit" class="btn btn-danger">Xóa</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="/js/notification-management.js"></script>
