<link rel="stylesheet" href="/css/profileId.css">

<div class="container-fluid px-4">
    <div class="header-container" style="display: flex; align-items: center; justify-content: space-between;">
        <h1 class="mt-4">Thông tin cá nhân</h1>
        <a href="/account-management" class="back-button" style="text-decoration: none; padding: 10px; background-color: #6876e0; color: white; border-radius: 5px;">Quay về</a>
    </div>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-user"></i>
            Chi tiết người dùng
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4 text-center">
                    <img src="/uploads/avatars/{{profilePicture}}" alt="Avatar" class="img-fluid rounded-circle mb-3" id="profilePicture">
                </div>
                <div class="col-md-8">
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" id="email" name="email" class="form-control" value="{{email}}" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" id="username" name="username" class="form-control" value="{{username}}" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="fullname" class="form-label">Tên hiển thị</label>
                        <input type="text" id="fullname" name="fullname" class="form-control" value="{{fullname}}" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="address" class="form-label">Địa chỉ</label>
                        <input type="text" id="address" name="address" class="form-control" value="{{address}}" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="phoneNumber">Số điện thoại:</label>
                        <div class="input-group">
                            <input type="number" id="phoneNumber" name="phoneNumber" class="form-control" value="{{phoneNumber}}" readonly>
                        </div>
                    </div>
                </div>
            </div>               
        </div>       
    </div>      
</div>