<link rel="stylesheet" href="/css/register.css">

{{#if error}}
    <div class="alert alert-danger">{{error}}</div>
{{/if}}

{{#if success}}
    <div class="alert alert-success">{{success}}</div>
{{/if}}

<div class="register-container">
    <h2>ĐĂNG KÝ</h2>
    <form action="/register" method="post" novalidate>
        <div class="form-field">
            <label for="email">Nhập email:</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Email của bạn (VD: abc@gmail.com)" value="{{email}}">
        </div>
        <div class="form-field">
            <label for="username">Nhập username:</label>
            <input type="username" class="form-control" id="username" name="username" placeholder="5 kí tự và không chứa kí tự đặc biệt (VD: binhtdtu)" value="{{username}}">
        </div>
		<div class="form-field">
            <label for="fullname">Nhập tên hiển thị:</label>
            <input type="text" class="form-control" id="fullname" name="fullname" placeholder="Tên hiển thị của bạn (VD: Cao Như Quỳnh)" value="{{fullname}}">
        </div>
        <div class="form-field">
            <label for="phoneNumber">Nhập số điện thoại:</label>
            <input type="number" class="form-control" id="phoneNumber" name="phoneNumber" placeholder="10 số (VD: 0948834943)" value="{{phoneNumber}}">
        </div>
        <div class="form-field">
            <label for="address">Nhập địa chỉ:</label>
            <input type="text" class="form-control" id="address" name="address" placeholder="Địa chỉ của bạn (VD: Quận 8, thành phố Hồ Chí Minh)" value="{{address}}">
        </div>
        <div class="form-field">
            <label for="password">Nhập mật khẩu:</label>
            <div class="password-container">
                <input type="password" id="password" name="password" placeholder="8 - 16 kí tự, ít nhất một chữ cái in hoa" required>
                <i class="fa fa-eye" id="togglePassword1" style="cursor: pointer;"></i>
            </div>
        </div>
        <div class="form-field">
            <label for="confirmPassword">Xác nhận lại mật khẩu:</label>
            <div class="confirm-password-container">
                <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Nhập lại mật khẩu" required>
                <i class="fa fa-eye" id="togglePassword2" style="cursor: pointer;"></i>
            </div>
        </div>
        <div class="form-field">
            <input type="submit" value="ĐĂNG KÝ">
        </div>
        <img src="/img/cat-image.png" alt="Cat Image" class="cat-image">
        <div class="login-prompt">
            Bạn đã có tài khoản ?<a href="/login"> Đăng nhập</a>
        </div>
    </form>
</div>

<div class="background-image-container">
    <img src="/img/background.png" alt="Image" class="background-image">
</div>

<script src="/js/register.js"></script>